@import 'variables.scss';
@import 'mixins.scss';

/* ****************** */
/*      Activity      */ 
/* ****************** */
body {
    background: #FFF;
    background-image:  url("../img/background.png");
}    
        
span {
    display: inline;
}
        
.coming-soon-top {
    text-align: center;
    color: #FFF;
    padding: 75px 36px 50px;
    min-height: 400px;
    background: rgba(1, 1, 1, 0.30);
}
.coming-soon-bottom {
    font-weight: 100;
    text-align: center;
}
        
.coming-soon-bottom {
    color: #333;
    margin-top: 30px;
}
        
.post-coming-soon-top {
    color: #ccc;
    font-size: 18px;
}
.post-coming-soon-bottom {
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}
        
.coming-soon-bottom-wrapper {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
       
.coming-soon-bottom .input-group {
    margin: 0 auto;
    width: 400px;
}

// Countdown
#countdown {

    .countdownWrapper {
        margin: 20px auto;
        text-align:center;
    }

    .period {
        display: inline;
        font-size: 14px;
        color: #CCC;
    }

    .position {
        display: inline-block;
        height: 48px;
        position: relative;
        width: 22px;
        overflow: hidden;
        font-weight: 600;
        font-size: 40px;
    }

    .countdownDigit {
        position:absolute;
        display:block;
        text-align:center;
    }

    .countdownSeparator {
        display:inline-block;
        position:relative;
        margin: 0px 12px;
    }
}
        
@media screen and (max-width: 540px) {
    #countdown {
        span.period {
            font-size: 12px;
            margin-left: -6px;
        }
        .position {
            font-size: 24px;
            height: 30px;
            margin-left: -10px;
        }
        .countdownSeparator {
            margin: 0px 10px;
        }
    }
}