@import 'variables.scss';
@import 'mixins.scss';

/* ********************** */
/*      Dee Password      */
/* ********************** */
.dp-wrapper[data-strength='short'] .dp-input.dp-input-back {
    background-color: lighten($danger-color, 25%);
    transition: background-color 350ms linear;
    border: 1px solid darken($danger-color, 20%);
}
.dp-wrapper[data-strength='weak'] .dp-input.dp-input-back {
    background-color: lighten($warning-color, 25%);
    transition: background-color 350ms linear;
    border: 1px solid darken($warning-color, 20%);
}
.dp-wrapper[data-strength='medium'] .dp-input.dp-input-back {
    background-color: lighten($info-color, 25%);
    transition: background-color 350ms linear;
    border: 1px solid darken($info-color, 20%);
}
.dp-wrapper[data-strength='strong'] .dp-input.dp-input-back {
    background-color: lighten($success-color, 25%);
    transition: background-color 350ms linear;
    border: 1px solid darken($success-color, 20%);
}
.dp-wrapper .dp-bar {
    height: 4px;
    border: 1px solid #CCC;
    margin: 2px 0px;
}
.dp-wrapper[data-strength='short'] .dp-bar {
    background-color: lighten($danger-color, 25%);
    transition: background-color 350ms linear;
    width: 25%;
    border: 1px solid darken($danger-color, 20%);
    @include transition(width 1s);
}
.dp-wrapper[data-strength='weak'] .dp-bar {
    background-color: lighten($warning-color, 25%);
    transition: background-color 350ms linear;
    width: 50%;
    border: 1px solid darken($warning-color, 20%);
    @include transition(width 1s);
}
.dp-wrapper[data-strength='medium'] .dp-bar {
    background-color: lighten($info-color, 25%);
    transition: background-color 350ms linear;
    width: 75%;
    border: 1px solid darken($info-color, 20%);
    @include transition(width 1s);
}
.dp-wrapper[data-strength='strong'] .dp-bar {
    background-color: lighten($success-color, 25%);
    transition: background-color 350ms linear;
    width: 100%;
    border: 1px solid darken($success-color, 10%);
    @include transition(width 1s);
}
.dp-wrapper .dp-show {
    visibility: visible !important;
}
.dp-wrapper .dp-bar {
    visibility: hidden;
}
.dp-wrapper .dp-result {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    float: right;
    font-size: 11px;
    margin-right: 10px;
    padding: 0 4px;
    position: relative;
    top: -28px;
    visibility: hidden;
}
