@import 'variables.scss';

/* *************** */
/*      Login      */ 
/* *************** */

$widget-width: 350px;

body {
    background-image: url("../img/background.png");
    color: #f8f8f8;
    font-family: $default-font-family;
    font-size: 14px;
    line-height: 1.42857;
    padding-bottom: 100px;
}

.single-container {
    left: 0;
    margin-top: -300px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.login-screen {
    margin-top: -250px;
}

.register-screen {
    margin-top: -300px;
}

.sign-widget-title {
    box-sizing: content-box;
    color: #666;
    padding: 0px 0px 20px 0px;
    position: relative;
    padding-bottom: 0;
    width: $widget-width;
    margin: 0 auto 20px;
    text-align: center;
    h1 {
        font-weight: 900;
    }
    h4 {
        margin-top: -10px;
    }
}

.sign-widget {
    border-radius: 3px;
    box-sizing: content-box;
    color: #666;
    margin-bottom: 30px;
    padding: 12px 17px;
    position: relative;
    border: 1px solid #CCC;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    padding-bottom: 0;
    width: $widget-width;
    margin: 0 auto;
    text-align: center;
    .body {
        margin-top: 10px;
    }
    header {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #666;
        position: relative;
        margin: 15px 0 18px;
    }
    .form-actions {
        padding: 0 0 15px;
    }
    .form-actions:before, 
    .form-actions:after {
        content: " ";
        display: table;
    }
    .btn {
        font-size: 16px;
    }
    .form-actions .forgot,
    .form-actions .register,
    .form-actions .login,
    .form-actions .terms {
        display: inline-block;
        padding: 10px 0 0px 0;
        font-size: 13px;
        a {
            text-decoration: underline;
        }
    }
    .form-actions .login { 
        font-size: 14px;
    }
    .form-actions .terms { 
        float: left;
    }
    .fa-icon-circle {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        display: inline-block;
        height: 26px;
        line-height: 24px;
        margin-right: 3px;
        width: 26px;
    }
    h4 {
        margin-bottom: 18px;
    }
    footer {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin: 0 -17px;
        overflow: hidden;
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        dispay: block;
    }
    footer i[class*="fa"] {
        margin-right: 6px;
    }
    .facebook-login, 
    .twitter-login {
        box-sizing: content-box;
        height: 30px;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        display: inline-block;
        -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.15);
        box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.15);
        a {
            color: #fff;
            display: block;
            text-decoration: none;
            text-shadow: none;
        }
    }
    .facebook-login  {
        background: none repeat scroll 0 0 $social-facebook-color;
    }
    .twitter-login  {
        background: none repeat scroll 0 0 $social-twitter-color;
    }
}


