@import 'variables.scss';
@import 'mixins.scss';

/* ***************** */
/*     TODO List     */ 
/* ***************** */
#todos {
    .todolist {
        padding: 0;
        list-style: none;
        input.toggle {
            margin-right: 5px;
        }
        .ui-sortable-helper {
            background-color: #eaeaea;
        }
        li {
            padding: 4px 28px 4px 10px;
            position: relative;
            border-bottom: 1px solid #cccccc;
            label:hover:not(.option) {
                cursor: move;
            }
            &:hover {
                .destroy {
                    display: block;
                }
            }
            &.header {
                background-color: #EAEAEA;
                font-weight: 600;
                padding: 6px 28px 6px 10px;
            }
        }
        li:last-child {
            border-bottom: none;
        }
        li:first-child {
            border-top: 1px solid #cccccc;
        }
        label.done {
            color: #777777;
            text-decoration: line-through;
            opacity: 0.5;
            &.option {
                text-decoration: none !important;
            }
        }
        .destroy {
            display: none;
            color: #939393;
            cursor: pointer;
            font-size: 18px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 4px;
            width: 20px;
            &:before {
                font-family: $font-family-icon;
                content: $fa-times;
            }
        }
        .destroy:hover {
            color: #676767;
        }
        li label > label {
            word-break: break-word;
            margin-bottom: 0px;
            margin-left: 8px;
        }
    }
}




