$search-bar-background: #F9F9F9;
$search-bar-background-focus: #F9F9F9;
$search-bar-color-focus: #2a2a2a;

/* ****************** */
/*     Search bar     */ 
/* ****************** */
.search-input {
    border: none;
    color: #CCCCCC;
    font-size: 13px;
    z-index: 11;
    background: $search-bar-background;
    transition: all 0.3s ease 0s;
    width: 200px;
    padding: 6px 15px 6px 32px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.search-input:focus {
    width: 250px;
    color: $search-bar-color-focus;
    background: $search-bar-background-focus;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
}
.search-icon {
    bottom: 1px;
    color: #E2E2E2;
    display: inline-block;
    left: 8px;
    position: absolute;
    top: 3px;
    z-index: 2;
    font-size: 14px;
    line-height: 24px;
    border: none;
    padding: 0 3px;
}
.search-input-icon {
    display: inline-block;
    position: relative;
}