@import '../variables.scss';
@import '../mixins.scss';

/* ion.rangeSlider */
$irs-default-color: #afafaf;
.irs {
    .irs-bar {
        background: $irs-default-color !important;
        border-bottom: 1px solid darken($irs-default-color, 10%) !important;
        border-top: 1px solid darken($irs-default-color, 10%) !important;
    }
    .irs-bar-edge {
        background: $irs-default-color !important;
        border-color: darken($irs-default-color, 10%) !important;
    }
    .irs-from, 
    .irs-to, 
    .irs-single {
        background: $irs-default-color none repeat scroll 0 0 !important;
        border-radius: 0px !important;
        font-size: 12px !important;
    }
    .irs-slider {
        border-radius: 0px !important;
        height: 26px !important;
        top: 25px !important;
        width: 20px !important;
    }
    .irs-min, 
    .irs-max {
        background: transparent !important;
        border-radius: 0px !important;
    }
}