:host {
  display: block;
}

.ng2-stockcharts-grabbing-cursor {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ng2-stockcharts-crosshair-cursor {
  cursor: crosshair;
}

.ng2-stockcharts-tooltip-hover {
  pointer-events: all;
  cursor: pointer;
}

.ng2-stockcharts-default-cursor {
  cursor: default;
}

.ng2-stockcharts-move-cursor {
  cursor: move;
}

.ng2-stockcharts-ns-resize-cursor {
  cursor: ns-resize;
}

.ng2-stockcharts-ew-resize-cursor {
  cursor: ew-resize;
}